In [ ]:
import numpy
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("Bike_Rentals.csv")
data.head(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [ ]:
import numpy as np

from decision_tree import DecisionTreeRegressor

class RandomForestRegressor:
    def __init__(self, n_estimators=100, max_depth=None, min_samples_split=2):
        self.n_estimators = n_estimators
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
      
       
        self.trees = []

    def fit(self, X, y):
     
          for i in range(self.n_estimators):
            
                indices = np.random.choice(X.shape[0], size=X.shape[0], replace=True)
                X_subset = X[indices]
                y_subset = y[indices]
                tree = DecisionTreeRegressor(max_depth=self.max_depth, 
                                              min_samples_split=self.min_samples_split
                                             
                                              )
                tree.fit(X_subset, y_subset)
                self.trees.append(tree)
    def predict(self, X):
        y_preds = np.zeros((X.shape[0], len(self.trees)))
        for i, tree in enumerate(self.trees):
            y_preds[:, i] = tree.predict(X)
        return np.mean(y_preds, axis=1)            
    def mean_squared_error(self,y_true, y_pred):
   
      # Check if the lengths of both arrays are equal
      if len(y_true) != len(y_pred):
          raise ValueError("Length of y_true and y_pred should be the same.")
      
      # Calculate the squared differences between the true and predicted values
      squared_differences = [(y_true[i] - y_pred[i])**2 for i in range(len(y_true))]
      
      # Calculate the mean of the squared differences
      mse = sum(squared_differences) / len(squared_differences)
      
      return mse

In [ ]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values.reshape(-1,1)
#from sklearn.model_selection import train_test_split
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=41)
#print(Y)

In [ ]:
import random

def train_test_split(X, y, test_size=0.2, random_state=None):
    if random_state:
        random.seed(random_state)
    
    n = len(X)
    test_data = set(random.sample(range(n), int(n * test_size)))
    train_data = set(range(n)) - test_data
    
    X_train = [X[i] for i in train_data]
    X_train=np.array(X_train)
    X_test = [X[i] for i in test_data]
    X_test=np.array(X_test)
    y_train = [y[i] for i in train_data]
    y_train=np.array(y_train)
    y_test = [y[i] for i in test_data]
    y_test=np.array(y_test)
    return X_train, X_test, y_train, y_test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=41)

In [ ]:
import numpy as np
regressor = RandomForestRegressor(n_estimators=100, max_depth=4, min_samples_split=2)
regressor.fit(X_train,Y_train)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([1581.08880036, 6280.82268829, 1161.32941075, 1763.47430589,
       7183.88131375,  927.88945013,  475.38075788, 1159.95941075,
       6924.10814481, 1771.64871877, 1593.86478411, 1781.21099149,
       5601.43033395, 5816.83647682, 1772.63371877, 6853.19399574,
       5811.03589025, 6990.77983854, 5701.42645473, 2006.2749915 ,
       6158.47781463, 1736.62691222, 2090.67823227, 2049.64417795,
       2037.16658048, 7023.68510278, 2090.67823227, 6990.77983854,
       6966.01608526, 2056.03724101, 2021.74323292, 2077.91372986,
       6830.02283618, 2133.8586752 , 7208.37642436, 3860.75202217,
       2080.30271254, 7236.53474806, 7230.56199334, 4232.54450603,
       7242.88659017, 1976.53620379, 7517.38610332, 4377.03877285,
       7298.97331765, 4376.88441631, 7164.45376424, 4366.96232656,
       4323.53369261, 4377.03877285, 4366.96232656, 4386.9608626 ,
       4377.03877285, 4489.54977798, 4266.62742063, 7221.76272062,
       5200.19461724, 4427.03124803, 5323.58461994, 4377.03877285,
       6099.88606259, 4698.39148432, 5232.53586921, 4402.0617383 ,
       4335.38795299, 4675.80668638, 5271.23895116, 4813.67007473,
       4377.03877285, 5249.17042049, 5262.92284884, 4802.49166318,
       4712.0269741 , 5646.05040627, 4386.9608626 , 5118.77192768,
       5369.39167928, 4548.30222667, 5327.37153336, 4325.3115067 ,
       2029.7254149 ,  452.63347926, 4386.9608626 , 4217.72632326,
       4377.03877285, 4427.03124803, 4154.74518041, 4350.07493668,
       4498.62730118, 4777.94964742, 4290.26956005, 5021.50294944,
       4659.3303742 , 2433.66717363, 4539.52274236, 4675.80668638,
       4366.96232656, 5112.79890756, 4778.29479917, 4395.55782215,
       4427.03124803, 4290.26956005, 4367.82580946, 4765.84013762,
        808.46157694, 4257.23479785, 1879.33155468, 3941.90784125,
       2401.28888444, 4352.96578244, 4231.80240958,  833.28565111,
       2148.4967201 , 2066.88974965, 2952.82648875, 4377.03877285,
       2049.89364584, 4416.95480174, 4366.96232656, 4335.38795299,
       4234.45024426, 4244.2422543 , 4750.92869466, 4251.58578371,
       4366.96232656, 4152.14303844, 4360.30931186, 3980.23805931,
       4750.92869466, 4231.80240958, 4335.38795299, 4898.5537623 ,
       5768.63118849, 6971.47252272, 4377.03877285, 5080.35717572,
       5731.63138984, 5921.23414172, 6108.71333549, 5784.39436194,
       6956.70861668, 6575.89625235, 5641.09214969, 6714.60551558,
       5992.6856518 , 7023.68510278])

In [ ]:
regressor.mean_squared_error(Y_test,y_pred)

array([270683.31914867])